body {
    font-family: monospace;
}

span {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
}

.player {
    background: orange;
}

.tile {
    color: black;
}

.score {
    font-weight:bold;
    margin-bottom: 5px;
}

.gold {
    color: gold;
}

.monster {
    color: red;
}

.goldScore {
    color: gold;
}

.combatHidden {
    display: none;
}

.combatShow {
    display: inline-block;
    width: 90%;
}

.combatSpan {
    display: inline;
    font-size: medium;
    width: 100%;
    height: 1em;
}